doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Designer Portfolio
    link(rel="stylesheet",
    href="style.css")
  body
    .container
       header.header
        .navbar
          ul.nav
            li(a href="") Home
            li(a href="") Work
            li(a href="") Contact
       h1.text Hi, I am Your Name <br> A Product Designer <br> based in City.
       h2.text-A I help businesses and companies reach <br> their goals by designing user-centric digital <br> products & interactive experiences.
       .buttons
          button.emeil hi@yourname.com
          
       .buttones
          button.emeil hi@yourname.com